:root{
    --marron-oscuro:#1A120B;
    --marron:#3C2A21;
    --beige:#D5CEA3;
    --crema:#E5E5CB;
    --beige-oscuro: #FAD6A5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



header nav{
    border: solid 1px black;
    background-color: var(--marron-oscuro);
    font-weight: 700;
    color:var(--beige);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav{
    text-align: center;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lateralIzquierdo{
    font-size: 2rem;
}

.lateralDerecho{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:var(--beige);
}

header .informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px black;
    align-items: center;
    background-color: var(--marron);
    padding: 1rem 0;
}


.informacion-texto{
    color: var(--beige);
    margin-right: 25rem;
    
} 

.informacion-texto h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.informacion-texto p{
    font-size: 2rem;
    font-weight: 400;
    
}

img{
    width: 25rem;
    height: 20rem;
    margin-left: 1rem;
}

.sobreMi{
    
    text-align: center;
    background-color: var(--beige);
    
}
.sobreMi h2{
    padding: 2rem 0;
    font-weight: bold;
    text-decoration: underline;
    color: var(--marron-oscuro);
    font-size: 2rem;
}

.sobreMi p{
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 20rem 2rem 20rem;
    color: var(--marron);
}


.informacionP{
    text-align: center;
    padding: 1rem 0;
    background-color: var(--beige);
    
}

.informacionP h2{
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: 2rem;
    color: var(--marron-oscuro);
}

.informacionP ul li{
    color: var(--marron-oscuro);
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 20rem;
    margin-bottom:1rem ;

}

span{
    font-weight: bold;
    color: var(--marron-oscuro);
}

.experiencia{
    background-color: var(--beige-oscuro);
    display: flex;
    flex-direction: column;
    padding: 0rem 20rem 2rem 20rem;
    color: var(--marron-oscuro);
}

.experiencia h2{
    text-align: center;
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 2rem;
}

.experiencia .empleoUno, .empleoDos, .empleoTres, .empleoCuatro{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.experiencia span{
    font-weight: bold;
}

.experiencia ul{
    padding: 1rem;
}

.habilidades{
    background-color: var(--beige-oscuro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0rem 20rem 2rem 20rem;
    color: var(--marron-oscuro);
}
.habilidades h2{
    text-align: center;
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 2rem;
}

.aptitudes{
    font-size: 1.5rem;
}

.habilidades h3{
    text-align: center;
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 2rem;
}

.idioma{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.pie{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--marron-oscuro);
    color: var(--beige);
}

.contactos h2, .redes h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.contactos ul {
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.redes ul {
    list-style: none;
    font-size: 1.5rem;
    
}
