:root{
    --oscuroM:#120907;
    --oscuro:#1a1b32;
    --normal:#495078;
    --claro:#7e8bcb;
    --claroM: #b2bdeb;
    
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}



header nav{
    border: solid 1px black;
    background-color: var(--oscuroM);
    font-weight: 700;
    color:var(--claroM);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav{
    text-align: center;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lateralIzquierdo{
    font-size: 2rem;
}

.lateralDerecho{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    
}





nav a{
    text-decoration: none;
    color:var(--claro);
    border-bottom:2px solid var(--claro);
}

a:active{
    color: var(--claroM);
    
    
}


header .informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px black;
    align-items: center;
    background-color: var(--oscuro);
    padding: 2rem 0;
}


.informacion-texto{
    color: var(--claroM);
    margin:0  auto;
    
} 

.informacion-texto h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.informacion-texto p{
    font-size: 2rem;
    font-weight: 400;
    
}

.informacion img{
    width: 25rem;
    height: 20rem;
    margin-left: 1rem;
    margin-top: 3rem;
}

.sobreMi{
    padding: 5rem 0;
    text-align: center;
    background-color: var(--claro);
    
}
.sobreMi h2{
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--oscuroM);
    font-size: 2rem;
}


.sobreMi p{
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 20rem 0rem 20rem;
    color: var(--marron);
}


.informacionP{
    text-align: center;
    padding: 5rem 0;
    background-color: var(--oscuro);
    color: var(--claroM);
       
}

.informacion-imagen{
    display: flex;
    padding: 5rem 0;
    justify-content: space-between;
}

.informacion-Imagen img{
    margin-right: 3rem;
}

.informacionP h2{
    margin-bottom: 1rem;
    text-decoration: underline;
    font-size: 2rem;
   
}


.informacionP ul li{
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom:1rem ;
    list-style:none;

}

.informacionP img{
    max-width: 600px;
}

span{
    font-weight: bold;
    
}

.experiencia{
    background-color: var(--claro);
    color: var(--oscuroM);
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    
}

.experiencia h2{
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.experiencia .empleoUno, .empleoDos, .empleoTres, .empleoCuatro{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.experiencia span{
    font-weight: bold;
}

.experiencia ul{
    padding: 1rem;
}

.habilidades{
    background-color: var(--oscuro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    padding: 5rem 0;
    color: var(--claroM);
}
.habilidades h2{
    text-align: center;
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 2rem;
}

.aptitudes{
    font-size: 1.5rem;
}

.habilidades h3{
    text-align: center;
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 2rem;
}

.idioma{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contactos{
    padding: 5rem;
    background-color: var(--claro);
    color: var(--oscuroM);
}

.contactos-flex{
    display: flex;
    justify-content: space-around;
}

.contactos h2, .redes h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.contactos ul {
    list-style: none;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.redes ul {
    list-style: none;
    font-size: 1.2rem;
    
}

.redes a{
    text-decoration: none;
    color:var(--oscuroM);
}

.formulario-contacto h2{
    text-align: left;
    margin: 3rem 10rem 0;
    text-decoration: none;
}
form{
    border: 2px solid var(--normal);
    margin: 2rem 10rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--claroM);

}

form label{
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.2rem;
}
form input{
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 3px solid var(--normal);
}


form textarea{
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    resize: none;
    border: 3px solid var(--normal);
    padding: 0.5rem 1rem;
}

form .enviar{
    border-radius: 0;
    margin-top: 1rem;
    width: 100%;
    
}

.enviar:hover{
    background-color: var(--oscuro);
    color: white;
    font-weight: bold;
    
}

footer{
    background-color: var(--oscuroM);
    height: 5rem;
    color: var(--claroM);
    text-align: center;
    padding: 2rem;
}


.activo{
    color: red;
}